* {
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    margin: 15px 0;
}

#info {
    display: inline-block;
    position: relative;
    width: 401px;
    height: 220px;
}

#info div {
    position: absolute;
    font: 33px/33px 'WalkwayBoldRegular', Arial, sans-serif;
}

#phone, #email a {
    -ms-user-select: text; /* IE 10+ */
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#phone {
    top: 102px;
    left: 128px;
    color: rgba(255, 255, 255, 0);
    padding: 0 25px;
}

#email {
    top: 137px;
    left: 111px;
    padding: 0 25px;
}

#email a {
    color: rgba(255, 255, 255, 0);
}

tr.items td > img {
    cursor: pointer;
}

div.itemSpacer {
    width: 100px;
    height: 220px;
    float: left;
}

.strip {
    position: absolute;
    height: 220px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.touch .strip {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.layer {
    position: absolute;
    display: none;
}

#zernyu {
    z-index: 100;
}

#about {
    z-index: 50;
}

#projects {
    z-index: 50;
}

#slider {
    z-index: 30;
    cursor: move;
}

#shade {
    z-index: 200;
}

#popup {
    z-index: 40;
    padding: 50px 50px 35px;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 42px rgba(30, 30, 30, 0.9);
    -moz-box-shadow: 0px 4px 42px rgba(30, 30, 30, 0.9);
    box-shadow: 0px 4px 42px rgba(30, 30, 30, 0.9);
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    color: #2b2b2b;
    -webkit-overflow-scrolling: touch;
}

.blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    filter: url(/css/filters.svg#blur);

}

#popup article {
    margin: 0 auto;
    max-width: 800px;
}

#popup p {
    text-align: left;
    padding: 15px 0;
    font: 16px/28px 'CorbertRegular', Helvetica, sans-serif;
    -ms-user-select: text; /* IE 10+ */
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#popup header {
    text-align: left;
}

#popup header img {
    max-width: 100%;
}

#popup header p {
    font: italic 20px/28px 'CorbertItalic', Helvetica, sans-serif;
}

#popup h1, #popup h2, #popup h3 {
    font-family: 'WalkwayBoldRegular', Arial, sans-serif;
    padding: 20px 0;
    -ms-user-select: text; /* IE 10+ */
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    font-weight: normal;
}

#popup h1 {
    font-size: 64px;
    display: inline;
}

#popup h2 {
    font-size: 64px;
    color: #b2b2b2;
    display: inline;
    padding-left: 25px;
}

#popup h3 {
    font-size: 42px;
}

#popup .intro {
    font-size: 32px;
}

#popup a {
    color: #2a92d8;
}

#popup a:hover {
    color: #41b2ff;
}

#popup a:visited {
    color: #2b2b2b;
}

#loading-bar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#loading-bar-container span {
    display: block;
    width: 100%;
    text-align: center;
    font: 12px/20px 'WalkwayBoldRegular', Arial, sans-serif;
    color: black;
}

#loading-bar {
    height: 25px;
    position: absolute;
    bottom: 0;
    background-color: #2b2b2b;
}

/* Prevent the slideshow from flashing on load */
.carousel {
    display: none;
}

/* Center the slideshow */
.carousel-container {
    margin: 0 auto;
    max-width: 900px;
}

.slidesjs-container {
    margin-bottom: 25px;
}

.slidesjs-navigation {
    color: #2a92d8;
    padding: 10px;
    text-decoration: none;
    font: 14px 'CorbertRegular', Arial, sans-serif;
}

.slidesjs-navigation:hover {
    color: #41b2ff;
}
